.bread {
    position: relative;
    padding-bottom: 150px;

    .bread-menu {
        display: flex;

        .item {
            border: 1px solid #CBCBCB;
            width: auto;
            margin: 0 5px;

            .img {
                width: auto;
                height: 300px;
                margin-bottom: 30px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .name,
            .price {
                text-align: center;
                font-size: 1.6rem;
            }

            .name {
                font-weight: bold;
                margin-bottom: 5px;
            }

            .price {
                margin-bottom: 20px;
            }

        }

        &.slick-dotted.slick-slider {
            width: 80%;
            margin: 0 auto;
            padding: 0 2%;
        }

        .slick-dots {
            position: absolute;
            bottom: -50px;
        }

    }

    .view-more {
        width: 200px;
        height: 50px;
        text-align: center;
        border: 2px solid #000;
        box-shadow: 2px 2px 0px 1px rgba(17, 17, 26, 1);
        position: absolute;
        bottom: 30px;
        right: 15%;
        transition: all .3s ease;

        &:hover {
            bottom: 28px;
            right: calc(15% - 2px);
            box-shadow: none;
        }

        &::after {
            display: block;
            content: '>';
            width: 25px;
            height: 25px;
            border-radius: 50%;
            background-color: #000;
            color: #fff;
            font-size: 2rem;
            position: absolute;
            top: calc(50% - 12.5px);
            right: -12.5px;
        }

        a {
            display: block;
            width: 100%;
            height: 100%;
            font-size: 1.8rem;
            color: #000;
            padding: 15px 0;
            letter-spacing: 0.1rem;
        }
    }

}

@media (max-width:1200px) {
    .bread-menu {
        .item {
            .img {
                height: 250px;
            }
        }
    }
}

@media(max-width:800px) {
    .bread {
        .view-more {
            bottom: 0;
            right: calc(50% - 100px);

            &:hover {
                bottom: -2px;
                right: calc(50% - 102px);
                box-shadow: none;
            }
        }
    }
}

@media (max-width:500px) {
    .bread-menu {
        .item {
            .img {
                height: 350px;
            }
        }
    }
}